@value root: "../../styles/root.css";
@value fontSizeBody, highlightColor, darkColor, phone, tablet-portrait, tablet-landscape, desktop from root;

@media only screen and (min-width: phone) {
    .subHeader {
        background-color: #000;
        height: 15rem;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }

    .button {
        padding: 2rem;
        padding-top: 0rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .logo {
        margin-top: 2rem;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .logoImg {
        width: 40vw;
        height: fit-content;
    }

    .terug {
        background-color: transparent;
        border: none;
        color: #F2A655;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .5rem 1rem;
        font-weight: bold;
        font-size: 2rem;
    }

    .arrow_terug {
        margin-right: 1rem;
        margin-top: -.4rem;
        width: 1rem;
    }
}

@media only screen and (min-width: tablet-portrait) {
    .subHeader {
        background-color: #000;
        height: 15rem;
        display: flex;
        align-items: center;
        flex-flow: row;
    }

    .spaceholder {
        width: 20rem;
        height: 10rem;
    }

    .button {
        width: 20rem;
        height: 10rem;
        padding-bottom: 0rem;
    }

    .logo {
        margin-top: 0rem;
        z-index: 2;
        width: 20rem;
        height: 10rem;
    }

    .logoImg {
        width: 45vw;
        max-width: 25rem;
    }

    .terug {
        font-size: 2.2rem;
    }

    .arrow_terug {
        width: 1.5rem;
    }

    @media only screen and (min-width: tablet-landscape) {

        .logoImg {
            max-width: 28rem;
        }
    }
}

