@value root: "../../styles/root.css";
@value fontSizeBody, fontHeader, fontBody, lightColor, highlightColor, darkColor, phone, tablet-portrait, tablet-landscape, desktop from root;


@media (min-width: phone) and (max-width: 375px) {
    .canvas {
        clip-path: circle(125px at center);
        margin-top: 7rem;
        position: fixed;
    }
}

@media only screen and (min-width: 375px) {
    .canvas {
        clip-path: circle(175px at center);
        margin-top: 7rem;
        position: fixed;
    }
}


@media only screen and (min-width: 769px) {
    .canvas {
        clip-path: circle(300px at center);
        margin-top: 7rem;
        position: fixed;
    }
}

/* @media only screen and (min-width: tablet-portrait) {
    .canvas {
        clip-path: circle(350px at center);
        z-index: 5;
        margin-top: 7rem;
        position: fixed;
    }
} */


@media only screen and (min-width: desktop) {
    .canvas {
        clip-path: circle(350px at center);
        margin-top: 7rem;
        position: fixed;
    }
}