/* .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
} */

/* steeds de helft van de breedte (huidige case: 800 = 400px at center) 
    ook rekening houden met javascript code bij 'set-up' breakpoints (max-width) aanpassen!
*/

.canvas {
    clip-path: circle(400px at center);
}

.container_art {
    z-index: 5;
    position: fixed;
}


