rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /interactie/{lastInteractie} {
      allow update: if true;
	    allow delete: if false;
	    allow create: if false;
      allow read: if true;
      }

    match /auteurs/{auteur} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{user} {	
	    allow create: if request.resource.data.user == "fysiekeInstallatie";
	    allow update: if false;
      allow delete: if false;
	    allow read: if true;
    }

    match /allow-users/{document=**} {
      allow read, write: if false;
    }

  }
}