@value root: "../../styles/root.css";

/* KLEUREN  */ 
@value highlightColor, darkColor, lightColor from root;

/* BREAKPOINTS */
@value phone, tablet-portrait, tablet-landscape, desktop from root;

/* FONT FAMILY  */ 
@value fontHeader, fontBody from root;

/* ___________FONTSIZES___________  */

/* FONT SIZE PHONE*/
@value fontSizeHeaderP, fontSizeSubHeaderP, fontSizeSubTitleP,  fontSizeBodyP from root;

/* FONT SIZE TABLET PORTRAIT*/
@value fontSizeHeaderTP, fontSizeSubHeaderTP, fontSizeSubTitleTP,  fontSizeBodyTP from root;

/* FONT SIZE TABLET LANDSCAPE*/
@value fontSizeHeaderTL, fontSizeSubHeaderTL, fontSizeSubTitleTL,  fontSizeBodyTL from root;

/* FONT SIZE DESKTOP*/
@value fontSizeHeaderD, fontSizeSubHeaderD, fontSizeSubTitleD,  fontSizeBodyD from root;

/* ______________END______________  */

@media only screen and (min-width: phone) {

    .fixedHeader {
        display: none;

    }

}

@media only screen and (min-width: tablet-portrait) {

    .fixedHeader {
        position: fixed;
        z-index: 5;
        width: 100vw;
        height: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: darkColor;
        padding: .3rem 1rem;
    }

    .width_elements_header {
        width: 45vw;
        display: flex;
        align-items: center;
        padding: .5rem;
        justify-content: center;  
    }

    .header_logo_pos {
        display: flex;
        justify-content: flex-start;
        justify-content: flex-start;
    }

    .logo_header {
        height: 3rem;
        width: auto;
    }

    .text_aantal {
        color: lightColor;
        line-height: 1;
        margin-right: 2rem;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .aantal {
        color: highlightColor;
        font-size: 2rem;
        font-weight: 500;
        margin-left: 1rem;
    }

    .link_genArt {
        border: solid highlightColor .2rem;
        color: highlightColor;
        text-transform: uppercase;
        padding: .5rem 1rem;
        border-radius: 4px;
        font-weight: bold;
        font-size: 1.8rem;
        font-family: fontHeader;
    }

    .link_brachtSamen {
        display: flex;
        flex-direction: row;
        text-align: right;
        justify-content: flex-end;
    }

    .opvul_div {
        display: none;
    }

}

@media only screen and (min-width: tablet-landscape) {

    .fixedHeader {
        position: fixed;
        z-index: 5;
        width: 100vw;
        height: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: darkColor;
        padding: .3rem 1rem;
    }

    .width_elements_header {
        width: 43vw;
        display: flex;
        align-items: center;
        padding: .5rem;
  
    }

    .logo_header {
        height: 3rem;
    }

    

    .text_aantal {
        color: lightColor;
        line-height: 1;
        margin-right: 2rem;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .aantal {
        color: highlightColor;
        font-size: 2rem;
        font-weight: 500;
        margin-left: 1rem;
    }

    .link_genArt {
        border: solid highlightColor .2rem;
        color: highlightColor;
        text-transform: uppercase;
        padding: .5rem 1rem;
        border-radius: 4px;
        font-weight: bold;
        font-size: 1.8rem;
        font-family: fontHeader;
    }

    .link_brachtSamen {
        display: flex;
        flex-direction: row;
        text-align: right;
        justify-content: flex-end;
    }

    .opvul_div {
        display: none;
    }

}

@media only screen and (min-width: desktop) {

    .fixedHeader {
        position: fixed;
        z-index: 5;
        width: 100vw;
        height: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: darkColor;
        padding: .3rem 1rem;
    }

    .width_elements_header {
        width: 32vw;
        display: flex;
        align-items: center;
        padding: .5rem;
  
    }

    .logo_header {
        height: 3rem;
        margin: auto;
    }

    .opvul_div {
        display: block;
    }
}
