@value root: "../../styles/root.css";
@value fontSizeBody, fontHeader, fontBody, highlightColor, lineHeight, lightColor, darkColor, phone, tablet-portrait, tablet-landscape, desktop from root;

.context {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: lightColor;
}

.title {
    text-align: center;
    font-size: 5rem;
    margin-bottom : 2rem ;
    font-family: fontHeader;
}

.titleImg {
    margin-top: 2rem;
    margin-bottom: -1rem;
    width: 22rem;
}

.praktischeInfo {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    align-items: flex-end;
}

.subtext {
    font-size: 1.4rem;
}