@value root: "../../styles/root.css";
@value fontSizeBody, fontHeader, fontBody, highlightColor, lineHeight, lightColor, darkColor, phone, tablet-portrait, tablet-landscape, desktop from root;

.context {
    width: 70vw;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
    align-items: center;
    color: lightColor;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.buttons {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 30rem; */
}

.title {
    text-align: center;
    font-size: 5rem;
    margin: 2rem ;
    font-family: fontHeader;
}

.intro {
    text-align: center;
    width: 55rem;
    font-size: 2rem;
    line-height: lineHeight;
    margin-bottom: 1.5rem;
}

.formFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    margin-bottom: 0 auto;
    margin-top: 4rem;
}

.inputLabel {
    margin-bottom: .5rem;
    font-size: 1.6rem;
}

.inputLabelError {
    margin-bottom: .5rem;
    font-size: 1.6rem;
    color: highlightColor;
    font-size: 1.6rem;
    font-weight: 700;
    font-style: italic;
}

.inputField {
    padding: .5rem 4rem;
    width: 35rem;
    height: 8rem;
    font-size: 2rem;
    font-family: fontBody;
}

.fyi {
    position: absolute;
    right: 0vw;
    top:50vh;
    /* width: 10rem; */
}

.fyiImg {
    width: 25rem;
}

.neemKaartje {
    background-image: url("/assets/img/Form_kaartje.png");
    background-repeat: no-repeat;
    width: 15rem;
    height: 10rem;
    position: absolute;
    right: 0vw;
    top:60vh;
    transform: rotate(15deg);
    margin-right: -5rem;
}

.button {
    background-color: #F2A655;
    color: #F9F7F5;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 4px;

    font-weight: bold;
    font-size: 22px;
    border: none;
}

.terug {
    background-color: transparent;
    border: none;
    color: #F2A655;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 22px;
}

.button_volgende {
    margin-left: auto;
}
/* als er nog geen terug button is */
.button_terug {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* display: none; */
}

.arrow_terug {
    margin-right: 1rem;
}