.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    color: #F9F7F5;
    padding: 0rem 1rem;
}

.logo {
    width: 6rem;
    padding-top: 3rem;
}