.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    color: #F9F7F5;
    padding: 0rem 1rem;
}

.logo {
    width: 6rem;
    padding-top: 3rem;
}

.markering {
    background: linear-gradient(90deg, rgba(255,255,255,0) 8%, rgba(242,166,85,1) 8%, rgba(242,166,85,1) 10%, rgba(255,255,255,0) 10%);
    display: flex;
    height: 12rem;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    font-size: 1.6rem;
}


.steps {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.8rem;
}

.bol {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: solid #F2A655  .1rem;
    background-color: #0A0A0A;
    margin-right: 1rem;
}

.active {
    background-color: #F2A655;
}