@value root: "../../styles/root.css";
@value fontSizeBody, highlightColor from root;

.header {
    font-size: fontSizeBody;
    font-family: "gt-pressura";
}

.interactiepunt {
    width: 25rem;
    height: 25rem;
    color: white;
    font-size: fontSizeBody;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: black;
}

.wrapper_interactiepunten {
    display: flex;
    flex-flow: wrap;
    width: 95vw;
}