@value root: "../../styles/root.css";
@value fontSizeBody, fontBody, fontHeader, fontSizeSubTitle, highlightColor, lightColor, darkColor nano, small, medium, big, full from root;

header {
    font-size: fontSizeBody;
    font-family: fontBody;
    font-weight: 500;
    font-style: italic;
    background-color: darkColor;
    width: 100vw;
    height: 100vh;
    color: lightColor;
    /* overflow: hidden; */
    padding: .8rem .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.box_logo {
    margin-top: 10rem;
}

.box_textImage {
    width: 100vw;
    display: flex;
    flex-direction: column;


}

.box_textImage p {
    margin: 2rem;
    
}

.box_textImage img {
    align-self: flex-end;
}

.header_text {
    margin-top: 15rem;
    position: relative;
    z-index: 1;
}

.logo_img {
    width: 80vw;
    margin-bottom: 2rem;
    
}

.header_img {
    width: 90vw;
}

.img_container {
    overflow: hidden;
    height: 60rem;
    margin-top: -13rem;
}

/* .scroll {
    height: 5rem;
    width: 3rem;
    background-color: red;
    margin-top: -10rem;
} */

/* .scroll_bol {
    margin: auto;
    width: 3rem;
    height: 3rem;
    background-color: red;
    border-radius: 1.5rem;
    position: fixed;

} */

section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.geraakt_box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.darkBack {
    background-color: darkColor;
    color: lightColor;
    margin-top: -2rem;
}

.textblok {
    padding: 1rem;
}

.overgeraakt_video {
    width: 100vw;
    height: auto;
    background-color: darkColor;
}

.intro_img {
    width: 90vw;
}

/* positie blokken*/

.intro_pos {
    display: flex;
    flex-direction: column;
}

.geraakt_pos {
        display: flex;
        flex-direction: column;
}

.geraakt_text {
    padding-left: 1;
}
/* -------------- */


h1 {
    font-size: 6rem;
    text-transform: uppercase;
    font-family: fontHeader;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title_onderdeel {
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
}

.subtitle_onderdeel {
    font-size: fontSizeSubTitle;
    font-weight: 900;
    font-family: fontHeader;
}

p {
    font-family: fontSizeBody;
    margin-bottom: 2rem;
}

.bold {
    font-weight: 900;
}

.aline_right {
    text-align: right;
}

.padding_bot {
    padding-bottom: 10rem;
}

.map {
    margin-top: -8rem;
    width: 70vw;
    margin-bottom: 1.5rem;
}

.hyperLink {
    color: highlightColor;
    text-decoration: underline;
}

.subtitle_samengebracht {
    font-size: fontSizeSubTitle;
    font-weight: 900;
    font-family: fontHeader;
    
}

.highlight {
    color: highlightColor;
}

.link_genart {
    background-color: #F2A655;
    color: lightColor;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    font-weight: bold;
    font-size: 22px;
    border: none;
}

.background_WB {
    background: linear-gradient(180deg, rgba(255,255,255,0) 40%, rgba(10,10,10,1) 40%);
}

.genArt_prev_back {
    /* background-color: darkColor; */
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.genArt_prev {
    /* margin-right: -2rem; */
    width: 95vw;
}

.link_hand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name_button {
    background-color: #F2A655;
    color: lightColor;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    font-weight: bold;
    font-size: 22px;
    border: none;
}

.white_box {
    width: 80vw;
    height: 6rem;
    background-color: lightColor;
    margin-top: -5rem;
    align-self: flex-start;
}

.hand1 {
    align-self: center;
}

.hand2 {
    align-self: flex-end;
}

.hand3 {
    align-self: flex-start;
}

.center_text {
    text-align: center;
}

.personen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persoon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.persoon p {
    margin-top: 1rem;
    margin-bottom: -.01rem;
}

.link_portfolio {
    color: highlightColor;
    text-decoration: underline;
}

.video_pos {
    width: 100vw;
}

.map_box {
     display: flex;
     flex-direction: column;   
}

.textblok_map {
    width: 60vw;  
    max-width: 50rem;  
}

.box_fisiek {
    padding-top: 0rem;
}


@media only screen and (min-width: medium) {

    header {
        font-size: fontSizeBody;
        font-family: fontBody;
        font-weight: 500;
        font-style: italic;
        background-color: darkColor;
        width: 100vw;
        height: 100vh;
        color: lightColor;
        /* overflow: hidden; */
        padding: .8rem 10rem;
    }

    .box_logo {
        margin-top: 10rem;
    }

    .logo_img {
        width: 50vw;
        max-width: 30rem;
    }


    .box_textImage {
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding-left: 5rem;
        align-items: center;
        overflow: hidden;
        
    }

    .box_textImage p {
        margin: 2rem;
        width: 40vw;
    }

    .box_textImage img {
        align-self: flex-end;
    }

    .textblok {
        width: 60rem;
    }

    .header_img {
        width: 55vw;
        margin-right: -4rem;
    }

    .intro_img {
        width: 50vw;
        max-width: 50rem;
        margin-left: 1rem;
    }

    /* positie blokken*/

    .intro_pos {
        display: flex;
        flex-direction: row;
        width: 95vw;
    }

    .intro_pos {
        max-width: 96rem;
        margin: auto;
    }

    .geraakt_box {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    /* -------------- */

    
    .textblok_intro {
        width: 40rem;
    }


    .map {
        width: 75vw;
    }

    .genArt_prev {
        height: 90vh;
        width: auto;
    }

    .geraakt_text {
        max-width: 50rem;
        margin-left: 1rem;
        padding-left: 1rem;
    }

    .map_box {

    }


}

@media only screen and (min-width: big) { 
    

    .background_WB {
        background: linear-gradient(180deg, rgba(255,255,255,0) 73%, rgba(10,10,10,1) 73%);
    }

    .geraakt_text {
        padding-left: 10rem;
        
    }

    .genArt_prev_back {
        width: 37rem;
        align-self: flex-end;
        justify-self: flex-end;
        right: 0;
        
    }

    .geraakt_box {
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 2rem;
        justify-content: flex-end;
    }

    .overgeraakt_video {
        width: 50vw;
        max-width: 80rem;
        height: 33rem;
        margin-left: -5rem;
        justify-self: flex-start;
        
    }

    .geraakt_text {
        max-width: 60rem;
        margin-left: 2rem;
        padding-left: 1rem;
    }

    .map_box {
        flex-direction: row;
        width: 90vw;
        max-width: 96rem;
        margin: auto;
        padding: 2rem 4rem;
        background-color: lightColor;
        margin-top: -4rem;
    }

    .padding_bot {
        padding-bottom: 15rem;
    }

    .textblok_map {
        
    }

    .map {
        max-width: 40rem;
    }

    .box_fisiek {
        padding-top: 15rem;
        background-image: url(../../assets/img/blur_cirkel.png);
        background-position: center;
        background-position-y: center;
    }

    .box_fisiek .textblok{
        width: 50rem;
    }

    .geraakt_pos {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        overflow: hidden;
    }

    .geraakt_pos .textblok{
        width: 50rem;
    }

    .geraakt_pos {
        padding-top: 5rem;
        padding-bottom: 0rem;
        justify-content: center;
        background: linear-gradient(90deg, rgba(255,255,255,0) 70%, rgba(10,10,10,1) 70%);
    }
    .genArt_prev_back {
        margin-left: 10rem;
        margin-right: -10rem;
    }
   
}

@media only screen and (min-width: full) { 
    .geraakt_pos {
        padding-top: 5rem;
        padding-bottom: 0rem;
        justify-content: center;
        background: linear-gradient(90deg, rgba(255,255,255,0) 80%, rgba(10,10,10,1) 80%);
    }

    .genArt_prev_back {
        margin-left: 5rem;
        margin-right: -5rem;
    }
}
