@value root: "../../styles/root.css";
@value fontSizeBody, fontBody, fontHeader, fontSizeSubTitle, highlightColor, lightColor, darkColor nano, small, medium, big, full from root;

footer {
    background-color: darkColor;
    color: lightColor;
    padding-top: 4rem;
}
.textblok {
    padding: 1rem;
}

.logo_geraakt {
    width: 60vw;
}

.logo_memento {
    height: 15rem;
    width: auto;
}

.footer_subtitle {
    font-size: fontSizeSubTitle;
    font-weight: bold;
}

.footer_iconTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.footer_iconTag p {
    margin-left: 1rem;
    margin-bottom: 0;
}

.hyperLink {
    color: highlightColor;
    text-decoration: underline;
}

.footer_containers {
    margin-bottom: 9rem;
}

.footer_waarschuwing_text {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.2;
}

.footer_waarschuwing_text a {
    color: lightColor;
    text-decoration: underline;
}